<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/read.css">
    <title>Document</title>
</head>
<body>
    <h1> Form to create a user</h1>
    <a href="/read">All Users</a>
    <h1>Create User</h1>
    <div class="form">
        <form action="/create" method="post">
            
            <form action="/create" method="post">
                <input type="text" name="name" placeholder="name" required>
                <input type="email" name="email" placeholder="email" required>
                <input type="text" name="image" placeholder="img-url" required>
                <button type="submit">Submit</button>
            </form>
            
        </form>
</div>
</body>
</html>